<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>游戏进入界面</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/public/css/game1.css">
    <script src="/public/js/resize.js"></script>
    <script src="/public/js/jquery-3.2.1.js"></script>
</head>
<body>
<header>
    <div class="title">
        <a class="back" href="javascript:history.go(-1)"></a>
        <div class="center">游戏</div>
    </div>
</header>
<section>
    <div class="con">
        <a href="/index.php/game/game2"></a>
        <a href="/index.php/game/game2" style="margin-right: 0"></a>
        <a href="/index.php/game/game2"></a>
        <a href="/index.php/game/game2" style="margin-right: 0"></a>
        <a href="/index.php/game/game2" style="margin-bottom: 0"></a>
        <a href="/index.php/game/game2" style="margin-right: 0;margin-bottom: 0"></a>
    </div>
</section>
</body>
</html>