$them: .6rem;
$img: '/public/img/';
$color: #fff;
@mixin flex() {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex1() {
  display: -webkit-flex;
  display: flex;
  align-items: center;
}

@mixin flex2() {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
}

@mixin font() {
  font-size: .26rem;
}

@mixin img() {
  width: 100%;
  height: 100%;
}

* {
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: '苹方';
}

a {
  text-decoration: none;
  display: block;
}

header {
  width: 100%;
  height: 3.5rem;
  background: url($img + 'game/g8.png') center center no-repeat;
  background-size: cover;
  border: 1px solid rgba(0, 0, 0, 0);
  .title {
    width: 100%;
    height: auto;
    padding: 0 .24rem;
    margin-top: .5rem;
    position: relative;
    .back {
      width: .38rem;
      height: .38rem;
      background: url($img + 'game/g1.png') center center no-repeat;
      background-size: contain;
      position: absolute;
      top: 0;
      left: .24rem;
    }
    .center {
      width: 100%;
      font-size: .26rem;
      color: #fff;
      text-align: center;
    }
    .right {
      text-align: center;
      line-height: .38rem;
      font-size: .28rem;
      color: #fff;
      position: absolute;
      top: 0;
      right: 0;
      padding: 0 .24rem 0 0;
    }
  }
}

header .title .right.active {
  color: #190c1d;
}

#alert {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .4);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 50;
  transition: all ease .2s;
  transform: scale(0);
  .info {
    width: 6rem;
    height: 5rem;
    background: url("/public/img/game/g11.png") center center no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    color: #fff;
    font-size: .3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    p{
      color:#fff;
      font-size: .4rem;
      text-align: center;
      line-height: 2rem;
    }
  }
}

#alert.active {
  transform: scale(1);
}

section .con .content.active {
  width: 32.8%;
  height:1.88rem;
  color: #fff;
  font-size: 0;
  background: #fe318e;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: move 0.2s ease both;
}
@keyframes move {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform:rotate(720deg);
  }
}

section {
  width: 100%;
  height: 6rem;
  padding: 0 .24rem;
  margin-top: -2.3rem;
  .con {
    width: 100%;
    height: auto;
    background: #fff;
    box-shadow: 1px 1px 10px 1px #FFB7D7;
    @include flex();
    flex-wrap: wrap;
    padding: 0 .1rem;
    .content {
      width: 33.3%;
      height: 2rem;
      padding: .2rem 0.1rem 0 0.1rem;
      font-size: 0;
      position: relative;
      background: url("/public/img/game/g6.png") center center no-repeat;
      background-size: contain;
      transform: rotate(360deg);

      img {
        width: 100%;
        height: 100%;
      }
    }
    a:nth-child(7) {
      margin-bottom: .2rem;
    }
    a:nth-child(8) {
      margin-bottom: .2rem;
    }
    a:nth-child(9) {
      margin-bottom: .2rem;
    }
  }
}

footer {
  width: 100%;
  height: auto;
  padding: 0 .24rem;
  div {
    width: 1.7rem;
    height: .28rem;
    background: url($img + 'game/g7.png') center center no-repeat;
    background-size: contain;
    margin-top: .3rem;
  }
  h6 {
    font-size: .26rem;
    color: #818288;
    margin-top: .1rem;
    .s1 {
      font-size: .26rem;
      color: #FE318E;
    }
  }
  .s2 {
    display: block;
    width: .38rem;
    height: .06rem;
    background: #FE318E;
    margin-top: .1rem;
  }
  p {
    width: 100%;
    height: auto;
    font-size: .26rem;
    color: #A3A3A7;
    margin-top: .2rem;
  }
}

.foot {
  width: 100%;
  height: .63rem;
  padding: 0 .24rem;
  @include flex();
  flex-wrap: nowrap;
  margin-top: .3rem;
  div {
    width: 47%;
    height: 100%;
    border: .02rem solid #FE318E;
    background: #fff;
    color: #000;
    margin-left: .1rem;
    font-size: .3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
  }
}

.foot div.active {
  background: #FE318E;
  color: #fff;
}
