* {
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: '苹方';
}
a{
    text-decoration: none;
}

body, html {
    position: relative;
    background: #F5F3FF;

}

.ban {
    width: 100%;
    height: 5rem;
    position: relative;
    top: 0;
    left: 0;
    background: url("/public/img/singer1/song-ban.png") center center no-repeat;
    background-size: cover;
    border: 1px solid rgba(0, 0, 0, 0);
    background: #fff;

}

.ban .con {
    width: 100%;
    padding: 0 0.24rem 0.24rem .24rem;
    height: auto;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0);
}

.ban .top {
    width: 100%;
    height: .4rem;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    margin-top: .26rem;
    -webkit-align-items: center;
    align-items: center;
    position: relative;
}
.ban .top .yi{
    display: inline-flex;
    width:1rem;;
    height:.4rem;
    border: 1px solid #fff;
    color:#fff;
    text-align: center;
    line-height: .4rem;
    font-size: .24rem;
    border-radius: .1rem;
    position: absolute;
    right: 0;
    font-weight: 600;
}

.ban .back {
    display: block;
    width: .4rem;
    height: .4rem;
    background: url("/public/img/singer1/singer7.png") center center no-repeat;
    background-size: cover;
    position: absolute;
}

.ban .top > p {
    display: block;
    width: .82rem;
    text-align: center;
    color: #fff;
    font-size: .36rem;
    margin: 0 auto;
}

.ban .top_two {
    width: 5.5rem;
    height: .35rem;
    margin: .22rem auto;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.ban .top_two .logo {
    width: .4rem;
    height: .4rem;
    background: url("/public/img/paihang/p8.png") center center no-repeat;
    background-size: contain;
}

.ban .top_two > li {
    width: 25%;
    height: auto;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.ban .top_two > li > a {
    width: 100%;
    display: block;
    height: auto;
    font-size: .24rem;
    color: #fff;
}

.ban .pai {
    width: 100%;
    height: .6rem;
    background: #fff;
    border-radius: 4px;
    position: relative;
    padding:.03rem;
    display: flex;
    flex-wrap: nowrap;
}
.ban .pai>p{
    flex: 3.333;
    height: 100%;
    font-size: .26rem;
    font-weight: normal;
    color:#494444;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ban .pai .active{
    background: #fe318e;
    color:#fff;font-weight: bold;
}
.center{
    width: 100%;
    height: 1.5rem;
    background: #fff;
    margin-top: -1rem;
}
.ph {
    width: 100%;
    height: 3rem;
    padding: 0 0.24rem 0.24rem .24rem;
    margin: 0 auto;
    margin-top: -2.3rem;
    position: relative;
    z-index: 10;
}
.list{
    width: 100%;
    height: 10rem;
    padding: 0 0.24rem 0.24rem .24rem;
    margin: 0 auto;
    background: #fff;
}
.list>div{
    width: 100%;
    height: 1.57rem;
    border-bottom: 1px dashed #adacac;
    position: relative;

}
.list .left {
    width: 1rem;
    height: 1rem;
    border-radius: .2rem;
    margin-left: .05rem;
    margin-top:.25rem;
    transform: rotate(8deg);
    position: absolute;
    background: #fe3191;
}
.list .left1 {
    width: 1rem;
    height: 1rem;
    border-radius: .15rem;
    padding: .02rem;
    background: url("/public/img/caiyan/per.jpg") -.16rem -0.03rem no-repeat;
    background-size: 1.5rem;
    position: absolute;
    top: .25rem;
    left: .045rem;
    z-index: 10;
}
.list  .list1{
    display: flex;
    flex-wrap: nowrap;
}

.list  .list1 >.text{
    width: 3.2rem;
    height: .78rem;
    color:#89919E;
    font-size: .26rem;
    margin-left: 1.5rem;
    margin-top: .38rem;

}
.list  .list1 > .text>span{
    font-size: .24rem;
    color: #898989;
}
