* {
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: block;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url("/public/img/person/p1.png") center center no-repeat;
  background-size: contain;
}

header {
  width: 100%;
  height: auto;
  margin-top: .3rem;
}

header p {
  width: 100%;
  height: auto;
  font-size: .3rem;
  color: #fff;
  text-align: center;
  position: relative;
}
header p .back {
  width: .38rem;
  height: .38rem;
  background: url("/public/img/game/g1.png") center center no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: .24rem;
}

header p span {
  display: inline-block;
  width: .08rem;
  height: .08rem;
  border-radius: 50%;
  background: #fff;
  margin-bottom: .06rem;
}

header h5 {
  width: 100%;
  height: auto;
  font-size: .3rem;
  color: #fff;
  text-align: center;
}

.per {
  width: auto;
  height: auto;
  padding: 0 .24rem;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: nowrap;
}

.per h4 {
  width: auto;
  height: auto;
  font-size: .26rem;
  color: #fff;
  margin-right: .2rem;
  margin-bottom: .4rem;
}

.per h4 span {
  font-size: .2rem;
  color: #fff;
}

.per .circle {
  width: 1.72rem;
  height: 1.72rem;
  border-radius: 50%;
  background: url("/public/img/person/p6.png") -0.8rem -0.5rem no-repeat;
  background-size: 4rem;
  box-shadow: 1px 1px 15px 1px #BB197C;
  position: relative;
  margin-right: .6rem;
}

.per .circle .xiao {
  width: .48rem;
  height: .48rem;
  border-radius: 50%;
  background-size: 4rem;
  box-shadow: 1px 1px 15px 1px #BB197C;
  background: url("/public/img/person/p2.png") center center no-repeat;
  background-size: contain;
  position: absolute;
  bottom: 0;
  right: -.2rem;
}

.per_two {
  width: 100%;
  height: auto;
  padding: 0 .6rem;
  margin-top: .3rem;
}

.per_two p:nth-child(1) {
  width: 100%;
  height: auto;
  font-size: .26rem;
  color: #22B0FC;
  text-align: right;
  margin-bottom: .03rem;
}

.per_two p:nth-child(2) {
  width: 100%;
  height: auto;
  font-size: .22rem;
  color: #22B0FC;
  text-align: right;
  margin-bottom: .03rem;
}

.per_two p:nth-child(3) {
  width: 100%;
  height: auto;
  font-size: .22rem;
  color: #383F42;
  text-align: right;
}

.center {
  width: 100%;
  height: 1.28rem;
  padding: 0 .25rem;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  /*div:nth-child(1){
    background: url($img + 'person/p3.png');
  }*/
}

.center div {
  width: 33%;
  height: 1.1rem;
  box-shadow: 1px 1px 3px .5px #ccc;
  border: 1px solid #ccc;
  margin-right: 1%;
  border-radius: .1rem;
  position: relative;
}

.center div .tu {
  display: block;
  width: 70%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: url("/public/img/person/p3.png") center center no-repeat;
  background-size: cover;
}

.center div .t1 {
  display: block;
  width: 70%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: url("/public/img/person/p4.png") center center no-repeat;
  background-size: cover;
}

.center div .t2 {
  display: block;
  width: 70%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: url("/public/img/person/p5.png") center center no-repeat;
  background-size: cover;
}

.center div h3 {
  height: .5rem;
  color: #FF2888;
  font-size: .4rem;
  margin-top: .1rem;
  margin-left: .1rem;
}

.center div h3 span {
  display: inline-block;
  width: auto;
  color: #24B0FC;
  height: auto;
  font-size: .22rem;
  margin-top: -.5rem;
}

.center div p {
  color: #565EFF;
  margin-left: .1rem;
  font-size: .2rem;
}

section {
  width: 100%;
  height: auto;
  padding: 0 .24rem;
  margin-top: .2rem;
}

section h3 {
  width: auto;
  height: auto;
  color: #F94397;
  font-size: .28rem;
}

section p {
  width: auto;
  height: auto;
  color: #6D74FF;
  font-size: .28rem;
}

section div {
  width: 100%;
  height: auto;
  padding: .2rem 0;
  border-bottom: .02rem dashed #c7c7c7;
}

section div h4 {
  font-size: .26rem;
  color: #89919E;
}

section div p {
  font-size: .2rem;
  color: #C7C7C7;
  margin-top: .05rem;
}
