* {
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: '苹方';
}
a{
    text-decoration: none;
}
body, html {
    width: 100%;
    height: 100%;
    overflow:scroll;
    position: relative;
    background: #F5F3FF;

}

.ban {
    width: 100%;
    height: 4.65rem;
    position: relative;
    top: 0;
    left: 0;
    background: url("/public/img/singer1/song-ban.png") center center no-repeat;
    background-size: cover;
    border: 1px solid rgba(0, 0, 0, 0);

}

.ban .con {
    width: 100%;
    padding: 0 0.24rem 0.24rem .24rem;
    height: auto;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0);
}

.ban .top {
    width: 100%;
    height: .4rem;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    margin-top: .26rem;
    -webkit-align-items: center;
    align-items: center;
    position: relative;
}
.ban .top .yi{
    display: inline-flex;
    width:1rem;;
    height:.4rem;
    border: 1px solid #fff;
    color:#fff;
    text-align: center;
    line-height: .4rem;
    font-size: .24rem;
    border-radius: .1rem;
    position: absolute;
    right: 0;
    font-weight: 600;
}

.ban .back {
    display: block;
    width: .4rem;
    height: .4rem;
    background: url("/public/img/singer1/singer7.png") center center no-repeat;
    background-size: cover;
    position: absolute;
}

.ban .top > p {
    width: .82rem;
    text-align: center;
    color: #fff;
    font-size: .36rem;
    margin: 0 auto;
}

.ban .top_two {
    width: 5.5rem;
    height: .35rem;
    margin: .22rem auto;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.ban .top_two .logo {
    width: .3rem;
    height: .3rem;
    background: url("/public/img/singer1/singer8.png") center center no-repeat;
    background-size: contain;
}

.ban .top_two > li {
    width: 25%;
    height: auto;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.ban .top_two > li > a {
    width: 100%;
    display: block;
    height: auto;
    font-size: .24rem;
    color: #fff;
}

.ban .inputs {
    width: 100%;
    height: .7rem;
    background: #fff;
    border-radius: 4px;
    border: 0;
    position: relative;
}

.ban .inputs input {
    width: 100%;
    height: auto;
    border: 0;
    outline: none;
    position: absolute;
    top: .2rem;
    left: 0;
    text-align: center;
    font-size: .24rem;
}

.ban .inputs .search {
    width: .36rem;
    height: .36rem;
    position: absolute;
    top: .17rem;
    left: 1.35rem;
    background: url("/public/img/singer1/singer9.png") center center no-repeat;
    background-size: cover;
}

.ph {
    width: 100%;
    padding: 0 0.24rem 0.24rem .24rem;
    height: 5rem;
    margin: 0 auto;
    position: relative;
    top:-2.2rem;
    display: flex;
    flex-wrap: wrap;
    background: #fff;
}
/*.ph>a{
    display: block;
}

.ph>a:nth-child(1) {
    display: block;
    width: 100%;
    height: 3.5rem;
    padding:.02rem;
    margin-top: .1rem;
    position: relative;
    z-index: 10;
    overflow: hidden;
}
.ph>a:nth-child(1) p{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.2);
    position: absolute;
    top:0;
    left:0;
    z-index: 110;
}
.ph>a:nth-child(1) .text{
    width: 4.74rem;
    height: 1.41rem;
    position: absolute;
    top:50%;
    left:50%;
    z-index: 115;
    transform: translate(-50%,-50%);
    font-size: .26rem;
    font-family: '[PingFangSC]';
    color:#fff;
    text-align: center;
    line-height: 1.2rem;
    font-weight: normal;
}
.ph>a:nth-child(2){
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.2);
    position: absolute;
    top:0;
    left:0;
    z-index: 110;
}*/
.ph>li{
    width: 100%;
    height: auto;
    overflow: hidden;
    padding:1px;
}
.ph>li>a{
    width: 100%;
    height: 100%;
    display: block;;
    overflow: hidden;
    position: relative;
}
.ph>li>a>p{
    width: 75%;
    height:40%;
    background: rgba(0,0,0,.2);
    font-size: .28rem;
    color:#fff;
    position: absolute;
    top:0;
    left:0;
    bottom: 0;
    right:0;
    margin:auto;
}
.ph>li:nth-child(1){
    width: 100%;
    height: 3.2rem;
    padding: 1px;
}
.ph>li:nth-child(1)>a{
    background-size: cover;
    background-position: center;

}
.ph>li:nth-child(2){
    width: 33.3%;
    height: 2rem;
}
.ph>li:nth-child(2)>a{
    background-size: 4rem;
    background-position: -1.5rem 0;
}
.ph>li:nth-child(3){
    width: 33.3%;
    height: 2rem;
}
.ph>li:nth-child(3)>a{
    background-size: 5rem;
    background-position: -1.4rem -1rem;
}
.ph>li:nth-child(4){
    width: 33.3%;
    height: 2rem;
}
.ph>li:nth-child(4)>a{
    background-size: 2.5rem;
    background-position: -.5rem -.5rem;
}
.ph>li:nth-child(5){
    width: 40%;
    height: 3.2rem;
}
.ph>li:nth-child(5)>a{
    background-size: 3rem;
    background-position: -.5rem -.5rem;
}
.ph>li:nth-child(6){
    width: 60%;
    height: 3.2rem;
}
.ph>li:nth-child(6)>a{
    background-size: cover;
    background-position: -.8rem 0;
}
