<div class="box">
    <a href="/date/index.php/lzl_part_nearby">
        <li class="cbc-shequ" style="background-image: url(/date/public/img/cbc-di1.png)"></li>
    </a>
    <a href="/date/index.php/dynamic">
        <li class="cbc-act" style="background-image: url(/date/public/img/cbc-di3.png)"></li>
    </a>
    <a href="/date/index.php/friendlist">
        <li class="cbc-list" style="background-image: url(/date/public/img/cbc-di4.png)"></li>
    </a>
    <a href="/date/index.php/person">
        <li class="cbc-me" style="background-image: url(/date/public/img/cbc-di6.png)"></li>
    </a>
</div>
</body>
</html>