<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/date/public/css/cbc-actt.css">
    <link rel="stylesheet" href="<?php echo CSS_PATH.'cbc-di.css' ?>">
    <link rel="stylesheet" href="<?php echo CSS_PATH.'dyna_sy.css' ?>">
</head>
<body>
<div class="cbc-box" style="position:fixed;top:0;left:0;z-index: 50;">
    <div class="z">活动广场</div>
    <a class="right" href="/date/index.php/dynamic/home"></a>
</div>
