<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>语音聊天</title>
    <link rel="stylesheet" href="<?php echo CSS_PATH.'com_cwf.css'?>">
    <link rel="stylesheet" href="<?php echo CSS_PATH.'chat_header_cwf.css'?>">
    <link rel="stylesheet" href="<?php echo CSS_PATH.'chat_footer_cwf.css'?>">
    <script src="<?php echo JS_PATH.'jquery.js'?>"></script>
</head>
<body>
<header>
    <nav>
        <a href="javascript:history.back(-1);">
            <img src="<?php echo IMG_PATH.'back_cwf.png'?>" alt="">
        </a>
        <h1><?php echo $data['name']?></h1>
    </nav>
</header>


