<footer>
    <div class="foot">
        <div class="choose hid">
            <a href="#">
                <img class="one" src="<?php echo IMG_PATH.'chat_cwf10.png'?>" alt="">
            </a>
            <a href="#">
                <img class="two" src="<?php echo IMG_PATH.'chat_cwf11.png'?>" alt="">
            </a>

            <a href="#">
                <img class="wallet" src="<?php echo IMG_PATH.'chat_cwf12.png'?>" alt="">
            </a>
            <a href="#">
                <img class="four1" src="<?php echo IMG_PATH.'chat_cwf13.png'?>" alt="">
            </a>
        </div>
        <div class="search">
            <input type="text" value="" placeholder="轻触文字输入">
            <a href="#">
                <img class="three" src="<?php echo IMG_PATH.'chat_cwf3.png'?>" alt="">
            </a>
            <a href="#">
                <img class="one" src="<?php echo IMG_PATH.'chat_cwf1.png'?>" alt="">
            </a>

            <a href="#">
                <img class="two caozuo" src="<?php echo IMG_PATH.'chat_cwf21.png'?>" alt="">
            </a>
        </div>
    </div>

</footer>
<script src="<?php echo JS_PATH.'chat_cwf.js'?>"></script>
</body>
</html>