<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="<?php echo CSS_PATH.'lzl_part_nearby.css'?>">
    <link rel="stylesheet" href="<?php echo CSS_PATH.'cbc-di.css'?>">
    <script src="<?php echo JS_PATH.'jquery.js'?>"></script>
    <script src="<?php echo JS_PATH.'lzl_part_nearby.js'?>"></script>
    <script src="/date/public/js/swiper.min.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?key=32ce28edca8ac5443b5d8d0a9ff91d00&v=1.1&services=true" ></script>
    <link rel="stylesheet" type="text/css" href="/date/public/css/public1.css">
    <link rel="stylesheet" type="text/css" href="/date/public/css/mobileSelect.css">
    <link rel="stylesheet" type="text/css" href="/date/public/css/biao.css">
    <script src="/date/public/js/mobileSelect.js" type="text/javascript"></script>
    <link rel="stylesheet" href="<?php echo CSS_PATH.'swiper.min.css'?>">
</head>
<body>
<div class="cbc-box">
    <div class="cbc-left">
        <div class="tu"></div>
        <div class="zi">位置</div>

        <div style="display: none; width:800px;height:600px;border:1px solid gray" id="container"></div>

    </div>
    <div class="she"></div>
    <div class="add cbc-right" style="background: url(/date/public/img/cbc-4.png) center/cover no-repeat"></div>
    <div class="shai cbc-right active" style="background: url(/date/public/img/cbc-3.png) center/cover no-repeat"></div>
</div>
<div class="lzl_part_nearby">
    <div class="title">
        <a class="nearby fang active" href="#asd">
            <p>· 附近 ·</p>
        </a>
        <a class="trend fang" href="#list">
            <p>· 动态 ·</p>
        </a>
        <div class="huakuai" style="background:url('<?php echo IMG_PATH.'lzl-1.png'?>') center/contain no-repeat"></div>
    </div>


    <div class="content">
        <div class="nearby dong active">
            <div class="banner">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="slide" style="background:url('<?php echo IMG_PATH.'lzl-16.jpg'?>') center/cover no-repeat">
                                <br><h1>了解 & 相约</h1>
                                <h2>UNDERSTAND XIANGYUE</h2>
                                <div class="more">MORE</div>
                            </div></div>
                        <div class="swiper-slide">
                            <div class="slide" style="background:url('<?php echo IMG_PATH.'lzl-17.jpg'?>') center/cover no-repeat">
                                <br><h1>了解 & 相约</h1>
                                <h2>UNDERSTAND XIANGYUE</h2>
                                <div class="more">MORE</div>
                            </div></div>
                        <div class="swiper-slide">
                            <div class="slide" style="background:url('<?php echo IMG_PATH.'lzl-18.jpg'?>') center/cover no-repeat">
                                <br><h1>了解 & 相约</h1>
                                <h2>UNDERSTAND XIANGYUE</h2>
                                <div class="more">MORE</div>
                            </div></div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <div class="school">
                <div class="tou">
                    <div class="left"></div>
                    <p>同校</p>
                    <h1>TONGXIAO</h1>
                    <div class="right"></div>
                </div>
                <div class="six">
                    <?php foreach($data as $v):?>
                    <div class="ren">
                        <div class="head" style="background:url('<?php echo $v['pic']?>') center/cover no-repeat" ></div>
                        <h1><?php echo $v['name']?></h1><!--    //////////////////////////-->
                        <div class="zuo" style="background:url('<?php echo $v['img_gender']?>') center/cover no-repeat"></div>
                        <div class="you"><?php echo $v['age']?></div>
                        <div class="di">
                            <p><?php echo $v['ctime']?></p>
                        </div>
                    </div>
                    <?php endforeach;?>
                </div>
            </div>
            <div class="village">
                <div class="tou">
                    <div class="left"></div>
                    <p>同乡</p>
                    <h1>TONGXIANG</h1>
                    <div class="right"></div>
                </div>
                <ul class="ren">
                    <?php foreach($base as $v):?>
                    <li>
                        <div class="head" style="background:url('<?php echo $v['pic']?>') center/cover no-repeat" ></div>
                        <h1><?php echo $v['name']?></h1>
                        <div class="zuo" style="background:url('<?php echo IMG_PATH.'lzl-9.png'?>') center/cover no-repeat"></div>
                        <div class="you" style="background:url('<?php echo IMG_PATH.'lzl-8.png'?>') center/cover no-repeat"><?php echo $v['age']?></div>
                        <div class="di">
                            <p><?php echo $v['ctime']?></p>
                            <div class="yuan"></div>
                        </div>
                        <div class="line"></div>
                        <div class="word"><?php echo $v['content']?>
                        </div>
                    </li>
                    <?php endforeach;?>

                </ul>
            </div>
        </div>

        <br>
       <div class="trend dong">
            <ul>
                <?php foreach($word as $v):?>
                <li>
                    <input type="hidden" value="$v['id']">
                    <div class="head" style="background:url('<?php echo $v['pic']?>') center/cover no-repeat" ></div>
                    <h1>哈哈喽啊</h1>
                    <div class="zuo" style="background:url('<?php echo IMG_PATH.'lzl-9.png'?>') center/cover no-repeat"></div>
                    <div class="you" style="background:url('<?php echo IMG_PATH.'lzl-8.png'?>') center/cover no-repeat">24</div>
                    <div class="di">
                        <p><?php echo $v['ctime']?></p>
                        <div class="yuan"></div>
                    </div>
                    <div class="line"></div>
                    <div class="word"><?php echo $v['content']?>
                    </div>

                    <div class="good red" style="background:url('<?php echo IMG_PATH.'lzl-21.png'?>') center/cover no-repeat"></div>
                    <div class="good black active" style="background:url('<?php echo IMG_PATH.'lzl-27.png'?>') center/contain no-repeat"></div><p><?php echo $v['good']?></p>
                    <div class="comment" style="background:url('<?php echo IMG_PATH.'lzl-22.png'?>') center/cover no-repeat"></div><p><?php echo $v['comment']?></p>
                    <div class="share" style="background:url('<?php echo IMG_PATH.'lzl-20.png'?>') center/cover no-repeat"></div><p><?php echo $v['share']?></p>
                </li>
                <?php endforeach;?>



                <?php foreach($pic as $v):?>
                <li>
                    <div class="head" style="background:url('<?php echo $v['pic']?>') center/cover no-repeat" ></div>
                    <h1>哈哈喽啊</h1>
                    <div class="zuo" style="background:url('<?php echo IMG_PATH.'lzl-9.png'?>') center/cover no-repeat"></div>
                    <div class="you" style="background:url('<?php echo IMG_PATH.'lzl-8.png'?>') center/cover no-repeat">24</div>
                    <div class="di">
                        <p><?php echo $v['ctime']?></p>
                        <div class="yuan"></div>
                    </div>
                    <div class="line"></div>
                    <div class="word"><?php echo $v['content']?>
                    </div>

                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide"><div style="background:url('<?php echo $v['pic1']?>') center/cover no-repeat"></div></div>
                            <div class="swiper-slide"><div style="background:url('<?php echo $v['pic2']?>') center/cover no-repeat"></div></div>
                            <div class="swiper-slide"><div style="background:url('<?php echo $v['pic3']?>') center/cover no-repeat"></div></div>
                            <div class="swiper-slide"><div style="background:url('<?php echo $v['pic4']?>') center/cover no-repeat"></div></div>
                            <div class="swiper-slide"><div style="background:url('<?php echo $v['pic5']?>') center/cover no-repeat"></div></div>
                            <div class="swiper-slide"><div style="background:url('<?php echo $v['pic6']?>') center/cover no-repeat"></div></div>
                        </div>
                        <div class="mask">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                    <div class="good red" style="background:url('<?php echo IMG_PATH.'lzl-21.png'?>') center/cover no-repeat"></div>
                    <div class="good black active" style="background:url('<?php echo IMG_PATH.'lzl-27.png'?>') center/contain no-repeat"></div><p><?php echo $v['good']?></p>
                    <div class="comment" style="background:url('<?php echo IMG_PATH.'lzl-22.png'?>') center/cover no-repeat"></div><p><?php echo $v['comment']?></p>
                    <div class="share" style="background:url('<?php echo IMG_PATH.'lzl-20.png'?>') center/cover no-repeat"></div><p><?php echo $v['share']?></p>
                </li>
                <?php endforeach;?>



                <?php foreach($sp as $v):?>
                <li>
                    <div class="head" style="background:url('<?php echo $v['pic']?>') center/cover no-repeat" ></div>
                    <h1>哈哈喽啊</h1>
                    <div class="zuo" style="background:url('<?php echo IMG_PATH.'lzl-9.png'?>') center/cover no-repeat"></div>
                    <div class="you" style="background:url('<?php echo IMG_PATH.'lzl-8.png'?>') center/cover no-repeat">24</div>
                    <div class="di">
                        <p><?php echo $v['ctime']?></p>
                        <div class="yuan"></div>
                    </div>
                    <div class="line"></div>
                    <div class="word"><?php echo $v['content']?>
                    </div>

                    <div class="pic" >
                        <div class="img" style="background:url('<?php echo $v['mp4']?>') center/cover no-repeat"></div>
                        <div class="zhezhao"></div>
                        <div class="play" style="background:url('<?php echo IMG_PATH.'lzl-28.png'?>') center/cover no-repeat"></div>
                    </div>


                    <div class="good red" style="background:url('<?php echo IMG_PATH.'lzl-21.png'?>') center/cover no-repeat"></div>
                    <div class="good black active" style="background:url('<?php echo IMG_PATH.'lzl-27.png'?>') center/contain no-repeat"></div><p><?php echo $v['good']?></p>
                    <div class="comment" style="background:url('<?php echo IMG_PATH.'lzl-22.png'?>') center/cover no-repeat"></div><p><?php echo $v['comment']?></p>
                    <div class="share" style="background:url('<?php echo IMG_PATH.'lzl-20.png'?>') center/cover no-repeat"></div><p><?php echo $v['share']?></p>
                </li>
                <?php endforeach;?>

            </ul>
        </div>

    </div>


    <div  class="filter">
        <div class="box1">
            <div class="bao">
                <div class="top">筛选</div>
                <div class="contain key">
                    <div class="fixWidth">
                            <div class="demo">
                            <div class="gender">
                                <li class="active" data=1>全部</li>
                                <li data=2>
                                    <img src="/date/public/img/cbc-biao1.png" style="width: 0.35rem;" alt="">
                                </li>
                                <li data=3>
                                    <img src="/date/public/img/cbc-biao2.png" style="width: 0.35rem;" alt="">
                                </li>
                            </div>
                            <div id="trigger1" style="display: none">单项选择</div>
                            <div id="trigger2" style="background-image: url(/date/public/img/cbc-shai1.png)">15&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;15</div>
                            <div id="trigger3" style="display: none">多项选择</div>
                            <div id="trigger4" style="display: none">地区选择-级联</div>
                            <div id="trigger5" style="background-image: url(/date/public/img/cbc-shai2.png)">点击选择</div>
                            <div id="close" ></div>
                            <div id="fin">完成筛选</div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>

    <div class="add">
        <div class="box1">
            <ul>
                <li>
                    <a href="/date/index.php/lzl_part_nearby/word">
                        <div class="pic" style="background:url('<?php echo IMG_PATH.'lzl-31.png'?>') center/cover no-repeat"></div>
                        <h3>文字</h3>
                    </a>
                </li>

                <li>
                    <a href="/date/index.php/lzl_part_nearby/pic">
                    <div class="pic" style="background:url('<?php echo IMG_PATH.'lzl-32.png'?>') center/cover no-repeat"></div>
                    <h3>照片</h3>
                    </a>
                </li>
                <li>
                    <a href="/date/index.php/lzl_part_nearby/sp">
                    <div class="pic" style="background:url('<?php echo IMG_PATH.'lzl-33.png'?>') center/cover no-repeat"></div>
                    <h3>视频</h3>
                    </a>
                </li>

            </ul>
        </div>
        <div class="mask"></div>
    </div>
</div>

<?php include VIEW_PATH.'cbc-di.html';?>

<script type="text/javascript">


    $('.gender li').on('click',function () {
        $('.gender li').removeClass('active');
        $(this).addClass('active')
    })

    var weekdayArr=['15','16','17','18','19','20','21','22','23','24','25','26','28'];
    var timeArr = ['&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;15','&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;16','&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;17','&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;18','&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;19','&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;20','&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;21','&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;22','&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;23','&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;24','&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;25','&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;26','&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;28'];
    var numArr=['1','2','3','4','5'];

    var UplinkData =
        [
            {id:'1',value:'北京'},
            {
                id:'2',
                value:'山西',
                childs:[
                    {
                        id:'1',
                        value:'&nbsp;&nbsp;&nbsp;太原',
                        childs:[
                            {
                                id:'1',
                                value:'&nbsp;&nbsp;&nbsp;小店区'
                            },
                            {
                                id:'2',
                                value:'&nbsp;&nbsp;&nbsp;万柏林区'
                            },
                            {
                                id:'3',
                                value:'&nbsp;&nbsp;&nbsp;尖草坪区'
                            },
                            {
                                id:'4',
                                value:'&nbsp;&nbsp;&nbsp;迎泽区'
                            },
                            {
                                id:'5',
                                value:'&nbsp;&nbsp;&nbsp;杏花岭区'
                            }
                        ]
                    },
                    {
                        id:'2',
                        value:'&nbsp;&nbsp;&nbsp;临汾',
                        childs:[
                            {
                                id:'1',
                                value:'&nbsp;&nbsp;&nbsp;尧都区'
                            },
                            {
                                id:'2',
                                value:'&nbsp;&nbsp;&nbsp;侯马市'
                            },
                            {
                                id:'3',
                                value:'&nbsp;&nbsp;&nbsp;襄汾县'
                            },
                            {
                                id:'4',
                                value:'&nbsp;&nbsp;&nbsp;曲沃县'
                            },
                            {
                                id:'5',
                                value:'&nbsp;&nbsp;&nbsp;翼城县'
                            }
                        ]
                    },
                    {
                        id:'3',
                        value:'&nbsp;&nbsp;&nbsp;运城',
                        childs:[
                            {
                                id:'1',
                                value:'&nbsp;&nbsp;&nbsp;盐湖区'
                            },
                            {
                                id:'2',
                                value:'&nbsp;&nbsp;&nbsp;绛县'
                            },
                            {
                                id:'3',
                                value:'&nbsp;&nbsp;&nbsp;夏县'
                            },
                            {
                                id:'4',
                                value:'&nbsp;&nbsp;&nbsp;新绛县'
                            }
                        ]
                    },
                    {
                        id:'4',
                        value:'&nbsp;&nbsp;&nbsp;阳泉',
                        childs:[
                            {
                                id:'1',
                                value:'&nbsp;&nbsp;&nbsp;矿区'
                            },
                            {
                                id:'2',
                                value:'&nbsp;&nbsp;&nbsp;城区'
                            }
                        ]
                    }
                ]
            },
            {
                id:'3',
                value:'上海',
                childs:[
                    {
                        id:'1',
                        value:'&nbsp;&nbsp;&nbsp;黄埔区'
                    },
                    {
                        id:'2',
                        value:'&nbsp;&nbsp;&nbsp;长宁区'
                    }
                ]
            },
            {
                id:'4',
                value:'四川',
                childs:[
                    {
                        id:'1',
                        value:'&nbsp;&nbsp;&nbsp;成都',
                        childs:[
                            {
                                id:'1',
                                value:'&nbsp;&nbsp;&nbsp;青羊区'
                            },
                            {
                                id:'2',
                                value:'&nbsp;&nbsp;&nbsp;锦江区'
                            }
                        ]
                    },
                    {
                        id:'2',
                        value:'&nbsp;&nbsp;&nbsp;绵阳市',
                        childs:[
                            {
                                id:'1',
                                value:'&nbsp;&nbsp;&nbsp;涪城区'
                            },
                            {
                                id:'2',
                                value:'&nbsp;&nbsp;&nbsp;游仙区'
                            }
                        ]
                    },
                    {
                        id:'3',
                        value:'&nbsp;&nbsp;&nbsp;自贡市',
                        childs:[
                            {
                                id:'1',
                                value:'&nbsp;&nbsp;&nbsp;大安区'
                            },
                            {
                                id:'2',
                                value:'&nbsp;&nbsp;&nbsp;贡井区'
                            }
                        ]
                    }
                ]
            },
            {
                id:'5',
                value:'陕西',
                childs:[
                    {
                        id:'1',
                        value:'&nbsp;&nbsp;&nbsp;西安市',
                        childs:[
                            {
                                id:'1',
                                value:'&nbsp;&nbsp;&nbsp;新城区'
                            },
                            {
                                id:'2',
                                value:'&nbsp;&nbsp;&nbsp;碑林区'
                            }
                        ]
                    },
                    {
                        id:'2',
                        value:'&nbsp;&nbsp;&nbsp;铜川市',
                        childs:[
                            {
                                id:'1',
                                value:'&nbsp;&nbsp;&nbsp;宜君县'
                            },
                            {
                                id:'2',
                                value:'&nbsp;&nbsp;&nbsp;王益区'
                            }
                        ]
                    },
                    {
                        id:'3',
                        value:'&nbsp;&nbsp;&nbsp;宝鸡市',
                        childs:[
                            {
                                id:'1',
                                value:'&nbsp;&nbsp;&nbsp;金台区'
                            },
                            {
                                id:'2',
                                value:'&nbsp;&nbsp;&nbsp;渭滨区'
                            }
                        ]
                    }
                ]
            }
        ];


    //----------------------------------------------------------

    //只有trigger 和 wheels 是必要参数  其他都是选填参数
    var mobileSelect1 = new MobileSelect({
        trigger: '#trigger1',
        title: '单项选择',
        wheels: [
            {data: weekdayArr}
        ],
        position:[2] //初始化定位 打开时默认选中的哪个  如果不填默认为0
    });


    var mobileSelect2 = new MobileSelect({
        trigger: '#trigger2',
        title: '年龄',
        wheels: [
            {data: weekdayArr},
            {data: timeArr}
        ],
        position:[1, 2]
    });


    var mobileSelect3 = new MobileSelect({
        trigger: '#trigger3',
        title: '多项选择',
        wheels: [
            {data: numArr},
            {data: numArr},
            {data: numArr},
            {data: numArr},
            {data: numArr}
        ],
        position:[0, 1, 0, 1, 0],
        transitionEnd:function(indexArr, data){
        },
        callback:function(indexArr, data){
        }
    });


    var mobileSelect4 = new MobileSelect({
        trigger: '#trigger4',
        title: '地区选择',
        wheels: [
            {data:[
                {
                    id:'1',
                    value:'附近',
                    childs:[
                        {id:'1',value:'1000米'},
                        {id:'2',value:'2000米'},
                        {id:'3',value:'3000米'},
                        {id:'4',value:'5000米'},
                        {id:'5',value:'10000米'}
                    ]
                },
                {id:'2',value:'上城区'},
                {id:'3',value:'下城区'},
                {id:'4',value:'江干区'},
                {id:'5',value:'拱墅区'},
                {id:'6',value:'西湖区'}
            ]}
        ],
        transitionEnd:function(indexArr, data){
            console.log(data);
        },
        callback:function(indexArr, data){
            console.log(data);
        }
    });


    var mobileSelect5 = new MobileSelect({
        trigger: '#trigger5',
        title: '家乡',
        wheels: [
            {data : UplinkData}
        ],
        transitionEnd:function(indexArr, data){
            console.log(data);
        },
        callback:function(indexArr, data){
            console.log(data);
        }
    });


</script>

<script type="text/javascript">
    var map=new BMap.Map("container");
    var lc=new BMap.LocalCity();//(Bmap.LocalCityOptions.renderOptions.map);
    lc.get(function(lcr){
        if(lcr){
            map.centerAndZoom(lcr.center,15);
//            alert(lcr.name);
        }else{
            alert("没能获得正确地址");
        }
    });
    var native = new BMap.LocalCity();
    native.get(function(r){
        $('.cbc-box .cbc-left .zi').html(r.name)
    });
</script>