<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="<?php echo CSS_PATH.'lzl_part_sp.css'?>">
</head>
<body>
<div class="cbc-box">
    <a class="left" href="/date/index.php/lzl_part_nearby/index"></a>
    <div class="z">发布视频</div>
    <div class="i"> <a href="">发布</a></div>
</div>
<hr>

<div class="pic" >
    <div class="img" style="background:url('<?php echo IMG_PATH.'lzl-30.png'?>') center/cover no-repeat"></div>
    <div class="zhezhao"></div>
    <div class="play" style="background:url('<?php echo IMG_PATH.'lzl-28.png'?>') center/cover no-repeat"></div>
</div>

<p contenteditable="true" class="lzl_word">给你的视频配上一段文字吧</p>
<div class="lzl_di">发布</div>
</body>
</html>