<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="<?php echo CSS_PATH.'lzl_part_pic.css'?>">
</head>
<body>
<div class="cbc-box">
    <a class="left" href="/date/index.php/lzl_part_nearby/index"></a>
    <div class="z">发布照片</div>
    <div class="i"> <a href="">发布</a></div>
</div>
<hr>
<div class="lzl_word">
    <p contenteditable="true">给你的照片配上一段文字吧</p>
    <div class="add" style="background:url('<?php echo IMG_PATH.'lzl-34.png'?>') center/cover no-repeat"></div>
    <div class="add" style="background:url('<?php echo IMG_PATH.'lzl-35.png'?>') center/cover no-repeat"></div>
    <div class="add">
        <div class="jiahao" style="background:url('<?php echo IMG_PATH.'lzl-36.png'?>') center/cover no-repeat"></div>
    </div>
</div>
<div class="lzl_di">发布</div>
</body>
</html>