<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="<?php echo CSS_PATH?>person_xinyongdu.css">
</head>
<body>
<div class="head">
    <div class="header">
        <a href="/date/index.php/person/index"><div class="sign"></div></a>
        <h2>我的信用度</h2>
    </div>
</div>

<div class="banner">
    <div class="content">
        <div class="photo"></div>
        <h2>21</h2>
    </div>
</div>
<div class="record">信用记录</div>
<div class="list">
    <div class="xing"></div>
    <div class="arrow"></div>
    <div class="content">
        <h2>提高信用度</h2>
        <h1>时间 <span>2016-2-08</span></h1>
    </div>
    <h3>约饭</h3>
</div>
<div class="list">
    <div class="xing"></div>
    <div class="arrow"></div>
    <div class="content">
        <h2>提高信用度</h2>
        <h1>时间 <span>2016-2-08</span></h1>
    </div>
    <h3>约饭</h3>
</div>
<div class="list">
    <div class="xing"></div>
    <div class="arrow"></div>
    <div class="content">
        <h2>提高信用度</h2>
        <h1>时间 <span>2016-2-08</span></h1>
    </div>
    <h3>约饭</h3>
</div>
<div class="list">
    <div class="xing"></div>
    <div class="arrow"></div>
    <div class="content">
        <h2>提高信用度</h2>
        <h1>时间 <span>2016-2-08</span></h1>
    </div>
    <h3>约饭</h3>
</div>
<div class="list">
    <div class="xing"></div>
    <div class="arrow"></div>
    <div class="content">
        <h2>提高信用度</h2>
        <h1>时间 <span>2016-2-08</span></h1>
    </div>
    <h3>约饭</h3>
</div>
<div class="list">
    <div class="xing"></div>
    <div class="arrow"></div>
    <div class="content">
        <h2>提高信用度</h2>
        <h1>时间 <span>2016-2-08</span></h1>
    </div>
    <h3>约饭</h3>
</div>
<div class="list">
    <div class="xing"></div>
    <div class="arrow"></div>
    <div class="content">
        <h2>提高信用度</h2>
        <h1>时间 <span>2016-2-08</span></h1>
    </div>
    <h3>约饭</h3>
</div>
<div class="list">
    <div class="xing"></div>
    <div class="arrow"></div>
    <div class="content">
        <h2>提高信用度</h2>
        <h1>时间 <span>2016-2-08</span></h1>
    </div>
    <h3>约饭</h3>
</div>
<div class="list">
    <div class="xing"></div>
    <div class="arrow"></div>
    <div class="content">
        <h2>提高信用度</h2>
        <h1>时间 <span>2016-2-08</span></h1>
    </div>
    <h3>约饭</h3>
</div>
</body>
</html>