<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="<?php echo CSS_PATH?>person.css">
    <script src="<?php echo JS_PATH.'jquery.js';?>"></script>
    <script src="<?php echo JS_PATH.'person.js';?>"></script>
</head>
<body>
<div class="ting">
    <div class="person">
        <div class="header">
            <div class="top">
                <ul>
                    <a href="/date/index.php/ryset/index">
                        <li class="setup"></li>
                    </a>
                </ul>
            </div>
            <div class="circle">
                <a href="" class="tou"></a>
                <a href="/date/index.php/person/erweima" class="left erweima"><img src="/date/public/img/person_4.png" alt=""></a>
                <a href="/date/index.php/person/xinyongdu" class="left left1 xinyongdu"><img src="/date/public/img/person_3.png" alt=""></a>
                <a href="" class="left left2"><img src="/date/public/img/person_5.png" alt=""></a>
            </div>
        </div>

        <div class="nickname">
            <h2>哈哈喽啊</h2>
            <p>座右铭：不要停下自己的脚步</p>
        </div>
    </div>
</div>

<div class="content">
    <div class="head">
        <div class="left">
            <div class="shu">
                <div class="sz"><h1>01</h1></div>
                <div class="xie"></div>
                <div class="sz1"><h2>6月</h2></div>
            </div>
        </div>
        <div class="right">
            <div class="rtop"><h2>今天天气不错</h2></div>
            <div class="tu ">
                <div class="tu1">
                    <ul id="ul">
                        <a href=""><li style="background: url('/date/public/img/person_20.png')center center no-repeat;"></li></a>
                        <a href=""><li style="background: url('/date/public/img/person_19.png')center center no-repeat;"></li></a>
                        <a href=""><li style="background: url('/date/public/img/person_21.png')center center no-repeat;"></li></a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="head">
        <div class="left">
            <div class="shu">
                <div class="sz"><h1>07</h1></div>
                <div class="xie"></div>
                <div class="sz1"><h2>6月</h2></div>
            </div>
        </div>
        <div class="right">
            <div class="rtop"><h2>今天要下雨</h2></div>
            <div class="tu ">
                <div class="tu1">
                    <ul id="ul">
                        <a href=""><li style="background: url('/date/public/img/person_21.png')center center no-repeat;"></li></a>
                        <a href=""><li style="background: url('/date/public/img/person_20.png')center center no-repeat;"></li></a>
                        <a href=""><li style="background: url('/date/public/img/person_19.png')center center no-repeat;"></li></a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="head">
        <div class="left">
            <div class="shu">
                <div class="sz"><h1>01</h1></div>
                <div class="xie"></div>
                <div class="sz1"><h2>6月</h2></div>
            </div>
        </div>
        <div class="right">
            <div class="rtop"><h2>昨天下雨了</h2></div>
            <div class="tu ">
                <div class="tu1">
                    <ul id="ul">
                        <a href=""><li style="background: url('/date/public/img/person_19.png')center center no-repeat;"></li></a>
                        <a href=""><li style="background: url('/date/public/img/person_21.png')center center no-repeat;"></li></a>
                        <a href=""><li style="background: url('/date/public/img/person_20.png')center center no-repeat;"></li></a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="head">
        <div class="left">
            <div class="shu">
                <div class="sz"><h1>01</h1></div>
                <div class="xie"></div>
                <div class="sz1"><h2>6月</h2></div>
            </div>
        </div>
        <div class="right">
            <div class="rtop"><h2>fengj</h2></div>
            <div class="tu ">
                <div class="tu1">
                    <ul id="ul">
                        <a href=""><li style="background: url('/date/public/img/person_21.png')center center no-repeat;"></li></a>
                        <a href=""><li style="background: url('/date/public/img/person_20.png')center center no-repeat;"></li></a>
                        <a href=""><li style="background: url('/date/public/img/person_19.png')center center no-repeat;"></li></a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="box">
    <a href="/date/index.php/lzl_part_nearby">
        <li class="cbc-shequ" style="background-image: url(/date/public/img/person_9.png)"></li>
    </a>
    <a href="/date/index.php/dynamic">
        <li class="cbc-act" style="background-image: url(/date/public/img/person_10.png)"></li>
    </a>
    <a href="/date/index.php/friendlist">
        <li class="cbc-list" style="background-image: url(/date/public/img/person_16.png)"></li>
    </a>
    <a href="/date/index.php/person">
        <li class="cbc-me" style="background-image: url(/date/public/img/person_12.png)"></li>
    </a>
</div>
</body>
</html>
<script>
    window.addEventListener('load',function() {
        let ul=document.querySelector('#ul');
        let uls = document.querySelectorAll('#ul');
        let Left=document.querySelector('.tu1');
        let Lefts=document.querySelectorAll('.tu1');
        let maxw=ul.offsetWidth-Left.offsetWidth;

        let ox=0,cx=0;
        let offsetX=0;
        for(let i=0;i<Lefts.length;i++ ){
            Lefts[i].addEventListener('touchstart',function(e){
                let ev=e.changedTouches[0];
                ox=ev.pageX;
            },false);
            Lefts[i].addEventListener('touchmove',function(e){
                let ev=e.changedTouches[0];
                cx=ev.pageX;
                let lefts=cx-ox+offsetX;
                if(lefts>=0){
                    lefts=0;
                }else if(lefts<=-maxw){
                    lefts=-maxw/2;
                }
                uls[i].style.left=lefts+'px'
            },false);
            Lefts[i].addEventListener('touchend',function(){
                offsetX = uls[i].offsetLeft;
            },false)
        }

    });
</script>
