<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="<?php echo CSS_PATH?>person_erweima.css">
</head>
<body>
<div class="header">
    <a href="/date/index.php/person/index" ><div class="sign"></div></a>

    <h2>我的二维码</h2>
</div>
<div class="banner">
    <div class="circle"><div class="head"></div></div>
    <h2>哈哈楼啊</h2>
    <h1>座右铭：不要停下你的脚步！</h1>
</div>
<div class="erweima"></div>
<h2>扫描二维码添加我为好友</h2>

</body>
</html>