<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="<?php echo CSS_PATH.'search_lt.css';?>">
    <script src="<?php echo JS_PATH.'jquery.js';?>"></script>
    <script src="<?php echo JS_PATH.'search_lt.js';?>"></script>
</head>
<body>
<div class="lt_sear">
    <div class="lt_search">
        <input type="text" value="搜索">
        <div class="mag"></div>
        <div class="say"></div>
    </div>
    <span class="cancel">取消</span>
</div>
<div class="l_friend">
    <div class="lt_friend">
        <div class="head"
             style="background: url(/date/public/img/list_lt_3.jpg) center/cover no-repeat"></div>
        <span class="name">等等</span>
        <div class="delete">删除</div>
    </div>
</div>

</body>
</html>