<?php include VIEW_PATH.'admin_header.html' ?>
<div class="container" style="width: 800px;height: 500px;">
    <div class="row">
            <div class="bs-example bs-example-tabs" data-example-id="togglable-tabs">
                <div id="myTabContent" class="tab-content">
                        <div role="tabpanel" class="" aria-labelledby="home-tab">
                            <div class="tip">
                            </div>
                        </div>
                    <div role="tabpanel" class="" aria-labelledby="profile-tab">
                        <div class="panel panel-warning" style="text-align: center;">
                            <div class="panel-heading">
                                <h3 class="panel-title">用户信息</h3>
                            </div>

                        </div>
                        <div class="bs-example" data-example-id="simple-table">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th style="text-align: center">id</th>
                                    <th style="text-align: center">用户</th>
                                    <th style="text-align: center">密码</th>
                                    <th style="text-align: center">操作</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>

</body>
</html>
<script src="/date/public/js/user_admin.js"></script>

