<nav class="affix">
    <div class="nav bs-docs-sidenav">
        <a href="" style="color:orange;font-size: 20px;">音乐管理</a>
        <ul class="nav">
            <li class="<?php echo $title=='分类管理'?'active':'' ?>"><a href="/index.php/song1_admin" style="color:#5bc0de">分类管理</a>
            </li>
            <li class="<?php echo $title=='歌曲管理'?'active':'' ?>"><a href="/index.php/song3_admin" style="color:#5bc0de">歌曲管理</a>
            </li>
            <li class="<?php echo $title=='歌手管理'?'active':'' ?>"><a href="/index.php/song2_admin" style="color:#5bc0de">歌手管理</a>
            </li>
            <li class="<?php echo $title=='歌单管理'?'active':'' ?>"><a href="/index.php/song4_admin" style="color:#5bc0de">歌单管理</a>
            </li>
        </ul>
    </div>
</nav>
