<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>酒水3</title>
    <link rel="stylesheet" href="/public/css/water3.css">
    <meta name="viewport" content="width=device-width">
    <script src="/public/js/resize.js"></script>
</head>
<body>
<header>
    <div class="box">
        <a class="left" href="/index.php/water/water2"></a>
        <p>提交成功</p>
    </div>
</header>
<section>
    <div class="top"></div>
    <div class="center"></div>
    <a class="bottom" href="/index.php/first/index"></a>
</section>
</body>
</html>