<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>酒水1</title>
    <link rel="stylesheet" href="/public/css/water1.css">
    <meta name="viewport" content="width=device-width">
    <script src="/public/js/resize.js"></script>
    <script src="/public/js/jquery-3.2.1.js"></script>
</head>
<style>
    header .box .son.active ~ .change {
        transform: translate3d(0, 0, 0);
    }
    header .box .son1.active ~ .change {
        transform: translate3d(100%, 0, 0);
    }
    header .box .son{
        z-index: 50;
    }
    header .box .item.active{
        color:#fff;
    }
    header .box .item.active span{
        color: rgba(255,255,255,.6)
    }
    header .box .change{
        background: #ff318d;
        position: absolute;
        top: 0.06rem;
        left: 0;
        width: 50%;
        height: 0.56rem;
        border-radius: 0.35rem;
        transition: all ease .3s;
    }
    header .box{
        position: relative;
    }
    header a{
        width: .48rem;
        height:.48rem;
        position: absolute;
        top:.8rem;
        left:0.24rem;
        z-index: 50;
        border-radius: 50%;
        background: url('/public/img/game/g1.png') center center no-repeat;
        background-size: contain;
    }
</style>
<body>
<header>
    <a href="/index.php/first/index"></a>
    <div class="box">
        <p class="item son active">
            酒水&nbsp;
            <span>0</span>
        </p>
        <p class="item son1">
            零食&nbsp;
            <span>0</span>
        </p>
        <div class="change active"></div>
    </div>
</header>
<section >
    <div class="big show">

        <?php foreach( $data1 as $v): ?>
        <div class="box" data='<?php echo json_encode($v); ?>'>
            <div class="left" style="padding:0 .5rem 0 0">
                <img src="<?php echo $v['imgurl'] ?>">
            </div>
            <div class="right">
                <p><?php echo $v['info'] ?> <span style="background: url('<?php echo $v['imgurl_fiir'] ?>') center center no-repeat;
                background-size: contain;"></span></p>
                <h1>￥<span><?php echo $v['price'] ?></span>/瓶</h1>
                <div class="bottom">
                    <div class="first"><img src="/public/img/water1/water6.png" alt=""></div>
                    <div class="second">0</div>
                    <div class="third"><img src="/public/img/water1/water7.png" alt=""></div>
                </div>
            </div>
        </div>
        <?php endforeach ?>
    </div>

    <div class="big ">

        <?php foreach( $data as $v): ?>
        <div class="box" data='<?php echo json_encode($v) ?>'>
            <div class="left" style="padding:0 .5rem 0 0">
                <img src="<?php echo $v['imgurl'] ?>">
            </div>
            <div class="right">
                <p><?php echo $v['info'] ?> <span style="background: url('<?php echo $v['imgurl_fiir'] ?>') center center no-repeat;
                background-size: contain;"></span></p>
                <h1>￥<span><?php echo $v['price'] ?></span>/瓶</h1>
                <div class="bottom">
                    <div class="first"><img src="/public/img/water1/water6.png" alt=""></div>
                    <div class="second">0</div>
                    <div class="third"><img src="/public/img/water1/water7.png" alt=""></div>
                </div>
            </div>
        </div>
        <?php endforeach ?>
    </div>

</section>
<footer>
    <div class="top">
        <p class="zi">已选</p>
        <div class="con">
        </div>
    </div>
    <div class="bottom"  style="width: auto;">
        <p>合计：<span class="sum" id="sum">0</span> <span>RMB</span></p>
        <a class="right" href="/index.php/water/water2"></a>
    </div>
</footer>
</body>
</html>
<script>
    $(function () {
        var storelist;
        if (localStorage.storelist) {
            storelist = JSON.parse(localStorage.storelist);
        } else {
            storelist = [];
        }
        $(window).on('hashchange',function () {
           storelist = JSON.parse(localStorage.storelist);

        });

        //顶部的按钮
        $('header .box .item').on('click', function () {
            $('header .box .item').removeClass('active').eq($(this).index()).addClass('active');
            $('section .big').removeClass('show').eq($(this).index()).addClass('show');
        });


        //加
        var choicelist = [];
        $('.big .third').on('click', function () {
            var o = JSON.parse($(this).closest('.box').attr('data'));
            var r = choicelist.filter(function (v, i) {
                return v.id == o.id;
            });
            if (!r.length) {
                o.num = 1;
                choicelist.push(o);
                $(this).prev().html(o.num);
            } else {
                r[0].num += 1;
                $(this).prev().html(r[0].num);
            }
            render();
        });
        //减
        $('.big .first').on('click', function () {
            var o = JSON.parse($(this).closest('.box').attr('data'));
            var r = choicelist.filter(function (v, i) {
                return v.id == o.id;
            });
            if (r.length) {
                r[0].num -= 1;
                if (r[0].num == 0) {
                    choicelist = choicelist.filter(function (v, i) {
                        return v.id != r[0].id;
                    })
                }
                $(this).next().html(r[0].num);
                render();
            }
        });
        function render() {
            var a;
            $('footer .bottom .sum').html(getTotal());
            $('header .box .son span').html(getWineNumber());
            $('header .box .son1 span').html(getSnacksNumber());
            $('footer .con').empty();
            choicelist.forEach(function (v, i) {
                a = JSON.stringify(v);
                var el = `<div data=${a}>${v.info}${v.num}瓶</div>`;
                $(el).css({
                    width: 'auto',
                    height: '.5rem',
                    color: '#fff',
                    fontSize: '.26rem',
                    background: '#fe318e',
                    borderRadius: '.1rem',
                    padding: '.1rem',
                    lineHeight: '.25rem'
                }).appendTo('footer .con');
                var s = JSON.parse(a);
                storelist.push(s);
                storelist = storelist.filter(function (v, i) {
                    return v.id != s.id;
                });
                storelist.push(s);
                localStorage.storelist = JSON.stringify(storelist);
                var sums =$('#sum').html();
                localStorage.rmb = sums;
            });
        }


        function getWineNumber() {
            var t = 0;
            choicelist.forEach(function (v, i) {
                if (v.cid == 1) {
                    t += v.num;
                }
            });
            return t;
        }

        function getSnacksNumber() {
            var t = 0;
            choicelist.forEach(function (v, i) {
                if (v.cid == 2) {
                    t += v.num;
                }
            });
            return t;
        }

        function getTotal() {
            var sum = 0;
            choicelist.forEach(function (v, i) {
                sum += Number((v.num * v.price).toFixed(2));
            });
            return sum;
        }
    })
</script>