<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>酒水2</title>
    <link rel="stylesheet" href="/public/css/water2.css">
    <meta name="viewport" content="width=device-width">
    <script src="/public/js/resize.js"></script>
    <script src="/public/js/jquery-3.2.1.js"></script>
    <script src="/public/js/water2.js"></script>
</head>
<body>
<header>
        <div class="box">
            <a class="left" href="/index.php/water/index"></a>
            <div><span></span> <h5>0608</h5>房间已选商品&nbsp;&nbsp; <span></span> </div>
        </div>
        <p>共<span class="totlenum"></span>件</p>
</header>
<section>
    <div class="con">

    </div>

</section>
<footer>
    <div class="top">
        <div></div>
        <h4>总价<br><span>RMB</span></h4>
        <p class="totle">

        </p>
    </div>
    <a class="bottom" id="success" href="/index.php/water/water3"></a>
</footer>
</body>
</html>
