* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box; }

@media screen and (min-width: 320px) {
  html {
    font-size: 42.66667px; } }

@media screen and (min-width: 360px) {
  html {
    font-size: 48px; } }

@media screen and (min-width: 375px) {
  html {
    font-size: 50px; } }

@media screen and (min-width: 384px) {
  html {
    font-size: 51.2px; } }

@media screen and (min-width: 412px) {
  html {
    font-size: 54.93333px; } }

@media screen and (min-width: 414px) {
  html {
    font-size: 55.2px; } }

@media screen and (min-width: 600px) {
  html {
    font-size: 80px; } }

@media screen and (min-width: 750px) {
  html {
    font-size: 100px; } }

* {
  font-size: .12rem; }

body {
  overflow: hidden;
  background: #F7F7F7; }

.lt_sear {
  width: 100%;
  height: 1.2rem; }

.lt_search {
  width: 6.2rem;
  height: 0.7rem;
  border: 1px solid #ebebeb;
  border-radius: 1rem;
  background: white;
  margin: 0.24rem 0 0 .24rem;
  padding: 0.1rem 0.24rem;
  position: relative;
  box-shadow: 0 0.05rem 0.52rem 0.02rem rgba(132, 142, 141, 0.15);
  float: left; }
  .lt_search input {
    font-size: 0.28rem;
    color: #d7d7d7;
    text-align: center;
    width: 4.5rem;
    height: 0.5rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 0;
    outline: none; }
  .lt_search .mag {
    width: 0.42rem;
    height: 0.42rem;
    background: url("../img/list_lt11.png") center/cover no-repeat;
    float: right; }
  .lt_search .say {
    width: 0.2rem;
    height: 0.28rem;
    background: url("../img/list_lt12.png") center/cover no-repeat;
    margin: .1rem .24rem;
    float: right; }

.cancel {
  font-size: .3rem;
  color: #5accfc;
  float: right;
  line-height: 1.2rem;
  margin-right: .24rem; }

.l_friend {
  width: 100%;
  height: 1.3rem;
  position: relative; }

.lt_friend {
  width: 100%;
  height: 1.3rem;
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 1.3rem;
  transition: all .5s ease; }
  .lt_friend .head {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0.24rem; }
  .lt_friend span {
    font-size: .32rem;
    line-height: 1.3rem; }

.lt_friend.active {
  left: -1.3rem; }

.delete {
  width: 1.3rem;
  height: 1.3rem;
  position: absolute;
  top: 0;
  left: 100%;
  font-size: .34rem;
  background: #d01203;
  color: white;
  text-align: center;
  line-height: 1.3rem; }
