<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/public/css/tui1.css">
    <script src="/public/js/resize.js"></script>
    <script src="/public/js/jquery-3.2.1.js"></script>
    <script src="/public/js/tui1.js"></script>
    <title>已选歌曲</title>
</head>
<body>
<div class="ban">
    <div class="con">
        <div class="top">
            <a class="back" href="/index.php/tui/tuijian"></a>
            <p>已点歌曲</p>
            <a class="yi">共 <span id="num">0</span>首</a>
        </div>

    </div>
</div>

<ul class="list">
    <li class="con">
        <div class="list1">
            <div class="left">

            </div>
            <div class="left1"></div>
            <p class="text">歌手与演员－李荣浩 <br><span>04’’52’</span></p>
            <div class="del"></div>
            <div class="tops"></div>
        </div>

    </li>


</ul>
</body>
</html>
