
<?php include 'App/views/admin_header.html' ?>
<div class="container">
    <div class="row">
        <div class="col-xs-2">
            <?php include 'App/views/water/sidebar.html' ?>
        </div>
        <div class="col-xs-10">
            <div class="bs-example bs-example-tabs" data-example-id="togglable-tabs">
                <ul id="myTabs" class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active" id="add"><a href="#add" id="home-tab" role="tab" data-toggle="tab"
                                                                       aria-controls="home" aria-expanded="true">歌曲管理</a></li>
                    <li role="presentation" id="list"><a href="#list" role="tab" id="profile-tab" data-toggle="tab"
                                                         aria-controls="profile">分类列表</a></li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="add-tab" aria-labelledby="home-tab">
                        <div class="tip">

                        </div>
                        <div class="panel panel-info">
                            <div class="panel-heading" style="text-align: center;margin-bottom: 30px">歌曲管理</div>
                            <table class="table" style="padding:20px">
                                <form class="form-horizontal" id="from" action="/index.php/page/insert" method="post" enctype="multipart/form-data">
                                    <!--<input type="hidden" >-->
                                    <div class="form-group">
                                        <label for="" class="col-sm-2 control-label">歌手名</label>
                                        <div class="col-sm-10">
                                            <input type="text" name='singer' class="form-control" id="" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-2 control-label">地址</label>
                                        <div class="col-sm-10">
                                            <label for="file" style="padding-top: 1px;" id="label">点击上传文件</label>
                                            <input type="file" style="display: none;" name="img_url" class="form-control" id="file" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-2 control-label">数量</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="number" class="form-control" id="" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-2 control-label">类别</label>
                                        <div class="col-sm-10" style="display: flex;">
                                            <?php foreach($music as $v): ?>
                                            <div class="radio" style="margin-right: 10px">
                                                <label>
                                                    <input type="radio" name="cid" id="a" value="<?php echo $v['id'] ?>" checked>
                                                    <?php echo $v['name']?>
                                                </label>
                                            </div>
                                           <?php endforeach ?>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button type="submit" id='btn' class="btn btn-default">提交</button>
                                        </div>
                                    </div>
                                </form>
                            </table>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="list-tab" aria-labelledby="profile-tab">
                        <div class="panel panel-warning" style="text-align: center;">
                            <div class="panel-heading">
                                <h3 class="panel-title">分类列表</h3>
                            </div>

                        </div>
                        <div class="bs-example" data-example-id="simple-table">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th style="text-align: center">id</th>
                                    <th style="text-align: center">歌手名</th>
                                    <th style="text-align: center">地址</th>
                                    <th style="text-align: center">数量</th>
                                    <th style="text-align: center">cid</th>
                                    <th style="text-align: center">操作</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
<script src="/public/js/song3_admin.js"></script>