<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>首页</title>
    <link rel="stylesheet" href="/public/css/index.css">
    <script src="/public/js/resize.js"></script>
    <script src="/public/js/jquery-3.2.1.js"></script>
</head>
<body>
    <div class="addres">
        <div class="add_left"></div>
        <div class="add_right"></div>
        <div class="add_bottom"></div>
    </div>

    <div class="item">
        <a href=" /index.php/geshou/index" style="margin-right: .26rem"></a>
        <a href="/index.php/game/index"></a>
        <a href="/index.php/water/index" style="margin-right: .26rem;margin-top: .16rem"></a>
        <a href="/index.php/person/index" style="margin-top: .16rem"></a>
    </div>


</body>
</html>