<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
    <link rel="stylesheet" href="/public/css/person.css">
    <meta name="viewport" content="width=device-width">
    <script src="/public/js/resize.js"></script>
</head>
<body>
<header>
    
    <p><a class="back" href="/index.php/first/index"></a><span></span>&nbsp;&nbsp;个人中心&nbsp;&nbsp; <span></span></p>
    <h5>GEREN ZHONG XIN</h5>
</header>
<div class="per">
    <h4> 李嘉琪 <br><span>LI JIAQI</span></h4>
    <div class="circle">
        <div class="xiao"></div>
    </div>
</div>
<div class="per_two">
    <p>甲壳虫</p>
    <p>DAZHONG JIA CHONG</p>
    <p>99868B278</p>
</div>
<div class="center">
    <div>
        <h3>658&nbsp;<span>关注</span></h3>
        <p>photograph 798</p>
        <span class="tu"></span>
    </div>
    <div>
        <h3>02&nbsp;<span>我的粉丝</span></h3>
        <p>following</p>
        <span class="t1"></span>

    </div>
    <div style="margin-right: 0">
        <h3>96&nbsp;<span>订单</span></h3>
        <p>order</p>
        <span class="t2"></span>

    </div>
</div>
<section>
    <h3>我的作品</h3>
    <p>UI/GUI WEBQIANDUAN</p>
    <div>
        <h4>歌手与演员 - 李荣浩</h4>
        <p>04''52'</p>
    </div>
    <div>
        <h4>成都 - 赵雷</h4>
        <p>04''52'</p>
    </div>
    <div>
        <h4>漂洋过海来看你 - 刘若英</h4>
        <p>04''52'</p>
    </div>
    <div>
        <h4>告白气球 - 周杰伦</h4>
        <p>04''52'</p>
    </div>
   <!-- <div>
        <h4>易燃易爆炸 — 陈粒</h4>
        <p>04''52'</p>
    </div>-->

</section>
</body>
</html>